
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


* {
box-sizing: border-box;
margin: 0;
padding: 0;

}

html, body {
    height: 100%;
}

body {
    font-family: raleway;
    background-color: black;
    color: white;
    font-weight: 600;
}

header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;

}

header img {
    width: 100%;
}

.descripcion {
    display: flex;
    padding: 50px;
    text-align: left;
}
.descripcion img {
    width: 500px;
}
.descripcion p {
    padding-top: 80px;
}

.caracteristicas {
    background-color: brown;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    
    
}

.contenedor-iconos {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.icon1 {
    padding: 20px;    
}

.icon2 {
    padding: 20px;    
}

.icon3 {
    padding: 20px;    
}

/*.album {
    display: flex;
}

.album img {
    
    width: 20%;
    padding:10px;
    
   
}
*/ 

.album {
    display: flex;
    justify-content: center;      /* Centra horizontalmente */
    gap: 30px;                   /* Espacio entre imágenes */
    padding: 20px;
  }
  
  .album img {
    width: 300px;                 /* Tamaño fijo (puedes ajustar) */
    height: auto;
    border-radius: 5px;          /* Borde redondeado opcional */
  }

  .footer {
    text-align: center;
    padding: 20px;
  }